.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100vh;
}

.container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 2.875rem;
  width: 100%;
  text-align: center;
  font-family: "Previta Sans", sans-serif;
  color: #000;
}

.container_title span {
  font-size: 1.25rem;
  color: #000;
}

.projects {
  position: relative;
  padding: 10%;
  font-family: "Previta Sans", sans-serif;
  color: #000;
}

.projectDescription {
  display: flex;
  justify-content: center;
  height: 630px;
  gap: 3%;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img {
  object-fit: cover;
  width: 430px;
  height: 520px;
}

.column {
  display: flex;
  height: 100%;
  width: 20%;
  font-size: 1.6vw;
}

.column:last-of-type {
  align-items: flex-end;
  font-size: 1vw;
}

.projectList {
  display: flex;
  flex-direction: column;
  position: relative;
}

.projectEl {
  width: 100%;
  color: #000;
  text-transform: uppercase;
  font-size: 3vw;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: flex-end;
}
.projectEl h2 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: default;
}
