.about {
  position: relative;
  padding: 0 10%;
  font-family: "Previta Sans", sans-serif;
  color: #5e7099;
  margin-top: 180px;
}

.aboutDescription {
  display: flex;
  justify-content: center;
  height: 1050px;
  gap: 10%;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img {
  object-fit: cover;
  width: 430px;
  height: 590px;
  border-radius: 6px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.parraf {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.25rem;
}

.row_inverse {
  flex-direction: row-reverse;
}

.reverse_parraf {
  text-align: right;
}

.parraf:nth-of-type(1) {
  gap: 8px;
  line-height: 1.3;
}

.parraf:nth-of-type(1) span {
  margin-right: 2px;
}

.parraf:nth-of-type(1) .mask {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

.parraf:nth-of-type(2) {
  font-size: 18px;
  width: 80%;
  font-weight: 300;
}

/* .projects{
  position: relative;
  color: white;
  margin-top: 25vh;
  padding: 10%;
}

.projectDescription{
  display: flex;
  height: 700px;
  justify-content: space-between;
  gap: 5%;
}

.imageContainer{
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img{
  object-fit: cover;
}

.column{
  display: flex;
  height: 100%;
  width: 20%;
  font-size: 1.6vw;
}

.column:last-of-type{
  align-items: flex-end;
  font-size: 1vw;
}

.projectList{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
}

.projectEl{
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 3vw;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: flex-end;
}
.projectEl h2{
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: default;
} */
