.description {
  position: relative;
  color: #5e7099;
  font-size: 2.5vw;
  margin-top: 45vw;
  margin-left: 10vw;
}
.description p {
  margin: 0px;
  position: relative;
  font-family: "Previta Sans", sans-serif;
}
