/* footer.module.css */
.container {
  position: relative;
  height: 250px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.fixedContent {
  position: fixed;
  bottom: 0;
  width: 100%;
}
