.main{
  position: relative;
  display: flex;
  height: 110vh;
  overflow: hidden;
  background-color: #000;
}

.main img{
  object-fit: cover;
  width: 100%;
  opacity: 0.7;
}

.sliderContainer{
  position: absolute;
  top: calc(100vh - 390px);
  max-width: 850px;
  margin: 4rem 5.7rem;
}

.sliderContainer p {
  color: #fff;
  font-size: 68px;
  font-weight: 500;
  font-family: 'Previta Sans';
  line-height: 100%;
}
